In [5]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt

In [6]:
games = pd.read_parquet('../Datasets/gamesoh.parquet')
reviews = pd.read_parquet('../Datasets/reviews.parquet')
items = pd.read_parquet('../Datasets/itemso.parquet')

gnames = pd.read_parquet('../Datasets/games.parquet')
fnames = pd.read_parquet('../Datasets/fnames.parquet')

In [7]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29803 entries, 0 to 29802
Data columns (total 62 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   item_id                29803 non-null  int32
 1   2D                     29803 non-null  int8
 2   ACTION                 29803 non-null  int8
 3   ADVENTURE              29803 non-null  int8
 4   ANIME                  29803 non-null  int8
 5   ARCADE                 29803 non-null  int8
 6   ATMOSPHERIC            29803 non-null  int8
 7   CASUAL                 29803 non-null  int8
 8   CLASSIC                29803 non-null  int8
 9   CO-OP                  29803 non-null  int8
 10  COMEDY                 29803 non-null  int8
 11  CUTE                   29803 non-null  int8
 12  DESIGN & ILLUSTRATION  29803 non-null  int8
 13  DIFFICULT              29803 non-null  int8
 14  EARLY ACCESS           29803 non-null  int8
 15  EXPLORATION            29803 non-null  int8
 16  FPS                    29803 non-null  int8
 17  FAMILY FRIENDLY        29803 non-null  int8
 18  FANTASY                29803 non-null  int8
 19  FEMALE PROTAGONIST     29803 non-null  int8
 20  FIRST-PERSON           29803 non-null  int8
 21  FREE TO PLAY           29803 non-null  int8
 22  FUNNY                  29803 non-null  int8
 23  GORE                   29803 non-null  int8
 24  GREAT SOUNDTRACK       29803 non-null  int8
 25  HIDDEN OBJECT          29803 non-null  int8
 26  HORROR                 29803 non-null  int8
 27  INDIE                  29803 non-null  int8
 28  LOCAL CO-OP            29803 non-null  int8
 29  LOCAL MULTIPLAYER      29803 non-null  int8
 30  MASSIVELY MULTIPLAYER  29803 non-null  int8
 31  MOVIE                  29803 non-null  int8
 32  MULTIPLAYER            29803 non-null  int8
 33  ONLINE CO-OP           29803 non-null  int8
 34  OPEN WORLD             29803 non-null  int8
 35  PIXEL GRAPHICS         29803 non-null  int8
 36  PLATFORMER             29803 non-null  int8
 37  POINT & CLICK          29803 non-null  int8
 38  PUZZLE                 29803 non-null  int8
 39  RPG                    29803 non-null  int8
 40  RPGMAKER               29803 non-null  int8
 41  RACING                 29803 non-null  int8
 42  RETRO                  29803 non-null  int8
 43  ROGUE-LIKE             29803 non-null  int8
 44  SANDBOX                29803 non-null  int8
 45  SCI-FI                 29803 non-null  int8
 46  SHOOT 'EM UP           29803 non-null  int8
 47  SHOOTER                29803 non-null  int8
 48  SIMULATION             29803 non-null  int8
 49  SINGLEPLAYER           29803 non-null  int8
 50  SPACE                  29803 non-null  int8
 51  SPORTS                 29803 non-null  int8
 52  STORY RICH             29803 non-null  int8
 53  STRATEGY               29803 non-null  int8
 54  SURVIVAL               29803 non-null  int8
 55  TACTICAL               29803 non-null  int8
 56  THIRD PERSON           29803 non-null  int8
 57  TURN-BASED             29803 non-null  int8
 58  UTILITIES              29803 non-null  int8
 59  VIOLENT                29803 non-null  int8
 60  VISUAL NOVEL           29803 non-null  int8
 61  ZOMBIES                29803 non-null  int8
dtypes: int32(1), int8(61)
memory usage: 1.8 MB

In [9]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59333 entries, 0 to 59332
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   posted              59333 non-null  int32
 1   item_id             59305 non-null  object
 2   recommend           59305 non-null  object
 3   user_id             59333 non-null  int64
 4   sentiment_analysis  59333 non-null  int64
dtypes: int32(1), int64(2), object(2)
memory usage: 2.0+ MB

In [10]:
items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5197727 entries, 0 to 5197726
Data columns (total 3 columns):
 #   Column            Dtype
---  ------            -----
 0   item_id           int64
 1   playtime_forever  float64
 2   user_id           int64
dtypes: float64(1), int64(2)
memory usage: 119.0 MB