In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

In [4]:
games = pd.read_parquet('../Datasets/gamesv5.parquet')

In [40]:
rnames = pd.read_csv('../Datasets/gnames.csv')

In [7]:
gnames = pd.read_parquet('../Datasets/gnamesv2.parquet')

In [41]:
rnames.head()

   item_id                  item_name
0       10             Counter-Strike
1       20      Team Fortress Classic
2       30              Day of Defeat
3       40         Deathmatch Classic
4       50  Half-Life: Opposing Force

In [42]:
rnames.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10978 entries, 0 to 10977
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   item_id    10978 non-null  int64
 1   item_name  10978 non-null  object
dtypes: int64(1), object(1)
memory usage: 171.7+ KB

In [43]:
rnames.drop_duplicates('item_id', inplace=True)

In [45]:
rnames.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10978 entries, 0 to 10977
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   item_id    10978 non-null  int64
 1   item_name  10978 non-null  object
dtypes: int64(1), object(1)
memory usage: 171.7+ KB

In [61]:
iids = list(set(reviews['item_id']))

In [47]:
ign=list(set(gnames['item_id']))

In [15]:
xgames = games.groupby('item_id')[['2D', 'ACTION', 'ADVENTURE', 'ANIME', 'ARCADE',
           'ATMOSPHERIC', 'CASUAL', 'CLASSIC', 'CO-OP', 'COMEDY', 'CUTE',
           'DESIGN & ILLUSTRATION', 'DIFFICULT', 'EARLY ACCESS', 'EXPLORATION',
           'FPS', 'FAMILY FRIENDLY', 'FANTASY', 'FEMALE PROTAGONIST',
           'FIRST-PERSON', 'FREE TO PLAY', 'FUNNY', 'GORE', 'GREAT SOUNDTRACK',
           'HIDDEN OBJECT', 'HORROR', 'INDIE', 'LOCAL CO-OP', 'LOCAL MULTIPLAYER',
           'MASSIVELY MULTIPLAYER', 'MOVIE', 'MULTIPLAYER', 'ONLINE CO-OP',
           'OPEN WORLD', 'PIXEL GRAPHICS', 'PLATFORMER', 'POINT & CLICK', 'PUZZLE',
           'RPG', 'RPGMAKER', 'RACING', 'RETRO', 'ROGUE-LIKE', 'SANDBOX', 'SCI-FI',
           "SHOOT 'EM UP", 'SHOOTER', 'SIMULATION', 'SINGLEPLAYER', 'SPACE',
           'SPORTS', 'STORY RICH', 'STRATEGY', 'SURVIVAL', 'TACTICAL',
           'THIRD PERSON', 'TURN-BASED', 'UTILITIES', 'VIOLENT', 'VISUAL NOVEL',
           'ZOMBIES']].sum()

In [16]:
xgames.head()

,2D,ACTION,ADVENTURE,ANIME,ARCADE,ATMOSPHERIC,CASUAL,CLASSIC,CO-OP,COMEDY,...,STORY RICH,STRATEGY,SURVIVAL,TACTICAL,THIRD PERSON,TURN-BASED,UTILITIES,VIOLENT,VISUAL NOVEL,ZOMBIES
item_id,,,,,,,,,,,,,,,,,,,,,
10,0,1,0,0,0,0,0,1,0,0,...,0,1,1,1,0,0,0,0,0,0
20,0,1,1,0,0,0,1,1,1,0,...,1,0,0,0,0,0,0,0,0,0
30,0,1,0,0,0,0,0,1,1,0,...,0,0,0,1,0,0,0,0,0,0
40,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
50,0,1,1,0,0,1,0,1,1,0,...,1,0,0,0,0,0,0,0,0,0

In [17]:
games = xgames.reset_index()

In [18]:
games.head()

,item_id,2D,ACTION,ADVENTURE,ANIME,ARCADE,ATMOSPHERIC,CASUAL,CLASSIC,CO-OP,...,STORY RICH,STRATEGY,SURVIVAL,TACTICAL,THIRD PERSON,TURN-BASED,UTILITIES,VIOLENT,VISUAL NOVEL,ZOMBIES
0,10,0,1,0,0,0,0,0,1,0,...,0,1,1,1,0,0,0,0,0,0
1,20,0,1,1,0,0,0,1,1,1,...,1,0,0,0,0,0,0,0,0,0
2,30,0,1,0,0,0,0,0,1,1,...,0,0,0,1,0,0,0,0,0,0
3,40,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,50,0,1,1,0,0,1,0,1,1,...,1,0,0,0,0,0,0,0,0,0

In [19]:
idg=440

In [20]:
gx=pd.DataFrame(xgames.loc[idg])

In [21]:
gx=pd.pivot_table(gx,columns=['2D', 'ACTION', 'ADVENTURE', 'ANIME', 'ARCADE',
           'ATMOSPHERIC', 'CASUAL', 'CLASSIC', 'CO-OP', 'COMEDY', 'CUTE',
           'DESIGN & ILLUSTRATION', 'DIFFICULT', 'EARLY ACCESS', 'EXPLORATION',
           'FPS', 'FAMILY FRIENDLY', 'FANTASY', 'FEMALE PROTAGONIST',
           'FIRST-PERSON', 'FREE TO PLAY', 'FUNNY', 'GORE', 'GREAT SOUNDTRACK',
           'HIDDEN OBJECT', 'HORROR', 'INDIE', 'LOCAL CO-OP', 'LOCAL MULTIPLAYER',
           'MASSIVELY MULTIPLAYER', 'MOVIE', 'MULTIPLAYER', 'ONLINE CO-OP',
           'OPEN WORLD', 'PIXEL GRAPHICS', 'PLATFORMER', 'POINT & CLICK', 'PUZZLE',
           'RPG', 'RPGMAKER', 'RACING', 'RETRO', 'ROGUE-LIKE', 'SANDBOX', 'SCI-FI',
           "SHOOT 'EM UP", 'SHOOTER', 'SIMULATION', 'SINGLEPLAYER', 'SPACE',
           'SPORTS', 'STORY RICH', 'STRATEGY', 'SURVIVAL', 'TACTICAL',
           'THIRD PERSON', 'TURN-BASED', 'UTILITIES', 'VIOLENT', 'VISUAL NOVEL',
           'ZOMBIES'])

In [22]:
gx

,2D,ACTION,ADVENTURE,ANIME,ARCADE,ATMOSPHERIC,CASUAL,CLASSIC,CO-OP,COMEDY,...,STORY RICH,STRATEGY,SURVIVAL,TACTICAL,THIRD PERSON,TURN-BASED,UTILITIES,VIOLENT,VISUAL NOVEL,ZOMBIES
440,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
matriz = cosine_similarity(gx,xgames)

In [24]:
matrix = pd.DataFrame(matriz)

In [25]:
# Obtener el uso de la memoria por columna
memory_usage = matrix.memory_usage(deep=True)

# Sumar el uso total de la memoria\n",
total_memory_usage = memory_usage.sum() / (1024 ** 2)  # Convertir a megabytes

print(f"Uso total de la memoria: {total_memory_usage:.2f} MB")

Uso total de la memoria: 0.23 MB

In [26]:
matriz=matriz[0]

In [27]:
len(matriz)

29803

In [28]:
type(matriz)

numpy.ndarray

In [177]:
#n=np.argmax(matriz)

In [178]:
#n

In [179]:
#matriz[n]=0

In [180]:
matriz[0]

0.502518907629606

In [29]:
reco=[]
for i in range(6):
  imax=np.argmax(matriz)
  reco.append(imax)
  matriz[imax]=0

In [30]:
reco

[19, 12210, 2379, 2175, 491, 3819]

In [31]:
games.iloc[0]['item_id']

10

In [32]:
top_games=[]

In [33]:
for i in reco:
  top_games.append(games.iloc[i]['item_id'])

In [34]:
top_games

[440, 394230, 209160, 206210, 17520, 245950]

In [35]:
for i,g in enumerate(top_games):
    print(i,g)

0 440
1 394230
2 209160
3 206210
4 17520
5 245950

In [59]:
440 in iids

True

In [60]:
rnames[rnames['item_id'] == 440]

Empty DataFrame
Columns: [item_id, item_name]
Index: []

In [48]:
for i,g in enumerate(top_games):
      if g in iids:
        top_games[i]=rnames[rnames['item_id'] == top_games[i]].['item_name']
      else:
        top_games[i]=gnames[gnames['item_id'] == top_games[i]].head(1)['item_name'].iloc[0]

IndexError: single positional indexer is out-of-bounds

In [37]:
top_games

[440, 394230, 209160, 206210, 17520, 245950]

In [25]:
#Ingresando el id de producto, deberíamos recibir una lista con 5 juegos recomendados similares al ingresado.

In [163]:
def recomendacion_juego(idg):
    if (idg in iids) or (idg in ign):
        gx=pd.DataFrame(xgames.loc[idg])
        gx=pd.pivot_table(gx,columns=['2D', 'ACTION', 'ADVENTURE', 'ANIME', 'ARCADE',
           'ATMOSPHERIC', 'CASUAL', 'CLASSIC', 'CO-OP', 'COMEDY', 'CUTE',
           'DESIGN & ILLUSTRATION', 'DIFFICULT', 'EARLY ACCESS', 'EXPLORATION',
           'FPS', 'FAMILY FRIENDLY', 'FANTASY', 'FEMALE PROTAGONIST',
           'FIRST-PERSON', 'FREE TO PLAY', 'FUNNY', 'GORE', 'GREAT SOUNDTRACK',
           'HIDDEN OBJECT', 'HORROR', 'INDIE', 'LOCAL CO-OP', 'LOCAL MULTIPLAYER',
           'MASSIVELY MULTIPLAYER', 'MOVIE', 'MULTIPLAYER', 'ONLINE CO-OP',
           'OPEN WORLD', 'PIXEL GRAPHICS', 'PLATFORMER', 'POINT & CLICK', 'PUZZLE',
           'RPG', 'RPGMAKER', 'RACING', 'RETRO', 'ROGUE-LIKE', 'SANDBOX', 'SCI-FI',
           "SHOOT 'EM UP", 'SHOOTER', 'SIMULATION', 'SINGLEPLAYER', 'SPACE',
           'SPORTS', 'STORY RICH', 'STRATEGY', 'SURVIVAL', 'TACTICAL',
           'THIRD PERSON', 'TURN-BASED', 'UTILITIES', 'VIOLENT', 'VISUAL NOVEL',
           'ZOMBIES'])
        ygames = xgames.drop(idg)
        matriz = cosine_similarity(gx,ygames)
        matriz=matriz[0]
        reco=[]
        for i in range(6):
          imax=np.argmax(matriz)
          reco.append(imax)
          matriz[imax]=0
        top_games = []
        for i in reco:
          top_games.append(games.iloc[i]['item_id'])
        for i,g in enumerate(top_games):
          if g in ign:
            top_games[i]=gnames[gnames['item_id'] == top_games[i]].head(1)['item_name'].iloc[0]
          else:
            top_games[i]=ids[ids['item_id'] == top_games[i]].head(1)['item_name'].iloc[0]
        return {"juegos recomendados":
                 [{"Puesto 1":top_games[0]},
                  {"Puesto 2":top_games[2]},
                  {"Puesto 3":top_games[3]},
                  {"Puesto 4":top_games[4]},
                  {"Puesto 5":top_games[5]}]}
    else:
        return {"id de juego no se encuentra en la base de datos ":idg}

In [164]:
recomendacion_juego(440)

IndexError: single positional indexer is out-of-bounds

In [140]:
xgames.head()

,2D,ACTION,ADVENTURE,ANIME,ARCADE,ATMOSPHERIC,CASUAL,CLASSIC,CO-OP,COMEDY,...,STORY RICH,STRATEGY,SURVIVAL,TACTICAL,THIRD PERSON,TURN-BASED,UTILITIES,VIOLENT,VISUAL NOVEL,ZOMBIES
item_id,,,,,,,,,,,,,,,,,,,,,
10,0,1,0,0,0,0,0,1,0,0,...,0,1,1,1,0,0,0,0,0,0
20,0,1,1,0,0,0,1,1,1,0,...,1,0,0,0,0,0,0,0,0,0
30,0,1,0,0,0,0,0,1,1,0,...,0,0,0,1,0,0,0,0,0,0
40,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
50,0,1,1,0,0,1,0,1,1,0,...,1,0,0,0,0,0,0,0,0,0

In [144]:
games[games['item_id']==440]

,item_id,2D,ACTION,ADVENTURE,ANIME,ARCADE,ATMOSPHERIC,CASUAL,CLASSIC,CO-OP,...,STORY RICH,STRATEGY,SURVIVAL,TACTICAL,THIRD PERSON,TURN-BASED,UTILITIES,VIOLENT,VISUAL NOVEL,ZOMBIES
19,440,0,1,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0

In [190]:
gnames[gnames['item_id']==245950]

Empty DataFrame
Columns: [item_id, item_name]
Index: []

In [191]:
ids[ids['item_id']==245950]

Empty DataFrame
Columns: [Unnamed: 0, item_id, item_name]
Index: []

In [151]:
idg=440

In [152]:
(idg in iid) or (idg in ign)

False

In [153]:
idg in iid

False

In [155]:
idg in ids

False