In [1]:
import pandas as pd

In [4]:
games = pd.read_parquet('../Datasets/gamesv5.parquet')
reviews = pd.read_parquet('../Datasets/reviews.parquet')
items = pd.read_parquet('../Datasets/itemsv2.parquet')

In [5]:
generos = list(games.drop(columns=['item_id','release_date']).columns)

In [6]:
items.head()

   item_id                  item_name  playtime_forever            user_id
0       10             Counter-Strike               6.0  76561197970982479
1       20      Team Fortress Classic               0.0  76561197970982479
2       30              Day of Defeat               7.0  76561197970982479
3       40         Deathmatch Classic               0.0  76561197970982479
4       50  Half-Life: Opposing Force               0.0  76561197970982479

In [7]:
ids =pd.read_csv('../Datasets/idsnv2.csv')

In [8]:
iid=list(set(items['item_id']))

In [9]:
lanio=list(set(reviews['posted'].to_list()))

In [10]:
# Obtener el uso de la memoria por columna
memory_usage = games.memory_usage(deep=True)

# Sumar el uso total de la memoria
total_memory_usage = memory_usage.sum() / (1024 ** 2)  # Convertir a megabytes

print(f"Uso total de la memoria: {total_memory_usage:.2f} MB")

Uso total de la memoria: 11.59 MB

In [11]:
# Obtener el uso de la memoria por columna
memory_usage = reviews.memory_usage(deep=True)

# Sumar el uso total de la memoria
total_memory_usage = memory_usage.sum() / (1024 ** 2)  # Convertir a megabytes

print(f"Uso total de la memoria: {total_memory_usage:.2f} MB")

Uso total de la memoria: 5.38 MB

In [12]:
# Obtener el uso de la memoria por columna
memory_usage = items.memory_usage(deep=True)

# Sumar el uso total de la memoria
total_memory_usage = memory_usage.sum() / (1024 ** 2)  # Convertir a megabytes

print(f"Uso total de la memoria: {total_memory_usage:.2f} MB")

Uso total de la memoria: 805.39 MB

In [13]:
items.columns

Index(['item_id', 'item_name', 'playtime_forever', 'user_id'], dtype='object')

In [14]:
len(set(items['item_id']))

10978

In [43]:
gnames = items[['item_id', 'item_name']].drop_duplicates()

In [44]:
gnames.count()

item_id      10978
item_name    10978
dtype: int64

In [45]:
# Obtener el uso de la memoria por columna
memory_usage = gnames.memory_usage(deep=True)

# Sumar el uso total de la memoria
total_memory_usage = memory_usage.sum() / (1024 ** 2)  # Convertir a megabytes

print(f"Uso total de la memoria: {total_memory_usage:.2f} MB")

Uso total de la memoria: 0.98 MB

In [46]:
dfitems = items.drop(columns=['item_name'])

In [47]:
# Obtener el uso de la memoria por columna
memory_usage = dfitems.memory_usage(deep=True)

# Sumar el uso total de la memoria
total_memory_usage = memory_usage.sum() / (1024 ** 2)  # Convertir a megabytes

print(f"Uso total de la memoria: {total_memory_usage:.2f} MB")

Uso total de la memoria: 422.92 MB

In [48]:
dfitems.head()

   item_id  playtime_forever            user_id
0       10               6.0  76561197970982479
1       20               0.0  76561197970982479
2       30               7.0  76561197970982479
3       40               0.0  76561197970982479
4       50               0.0  76561197970982479

In [49]:
items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5153209 entries, 0 to 5153208
Data columns (total 4 columns):
 #   Column            Dtype
---  ------            -----
 0   item_id           int64
 1   item_name         object
 2   playtime_forever  float64
 3   user_id           object
dtypes: float64(1), int64(1), object(2)
memory usage: 157.3+ MB

In [51]:
unames= items['user_id'].drop_duplicates().reset_index()

In [52]:
unames.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70912 entries, 0 to 70911
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   index    70912 non-null  int64
 1   user_id  70912 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.1+ MB

In [53]:
unames.head()

   index            user_id
0      0  76561197970982479
1    277            js41637
2   1165          evcentric
3   1302         Riot-Punch
4   1630              doctr

In [54]:
len(set(unames['index']))

70912

In [56]:
unames.rename(columns={'index':'uid_user'}, inplace=True)

In [57]:
# Obtener el uso de la memoria por columna
memory_usage = unames.memory_usage(deep=True)

# Sumar el uso total de la memoria
total_memory_usage = memory_usage.sum() / (1024 ** 2)  # Convertir a megabytes

print(f"Uso total de la memoria: {total_memory_usage:.2f} MB")

Uso total de la memoria: 5.37 MB

In [60]:
fitems=pd.merge(items,unames,on='user_id',how='inner')

In [61]:
fitems.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5153209 entries, 0 to 5153208
Data columns (total 5 columns):
 #   Column            Dtype
---  ------            -----
 0   item_id           int64
 1   item_name         object
 2   playtime_forever  float64
 3   user_id           object
 4   uid_user          int64
dtypes: float64(1), int64(2), object(2)
memory usage: 196.6+ MB

In [62]:
fitems = fitems.drop(columns=['item_name','user_id'])

In [68]:
fitems.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5153209 entries, 0 to 5153208
Data columns (total 3 columns):
 #   Column            Dtype
---  ------            -----
 0   item_id           int64
 1   playtime_forever  float64
 2   uid_user          int64
dtypes: float64(1), int64(2)
memory usage: 117.9 MB

In [64]:
# Obtener el uso de la memoria por columna
memory_usage = fitems.memory_usage(deep=True)

# Sumar el uso total de la memoria
total_memory_usage = memory_usage.sum() / (1024 ** 2)  # Convertir a megabytes

print(f"Uso total de la memoria: {total_memory_usage:.2f} MB")

Uso total de la memoria: 117.95 MB

In [65]:
gnames.to_csv('../Datasets/gnames.csv', index=False)

In [66]:
unames.to_csv('../Datasets/unames.csv', index=False)

In [69]:
fitems.to_csv('../Datasets/itemsv3.csv', index=False)

In [8]:
def PlayTimeGenre(genero):
  genero=genero.upper()
  if genero in generos:
    lgames = games.loc[games[genero] == 1, ['release_date', 'item_id']]
    lhoras = items.groupby('item_id')['playtime_forever'].sum().reset_index()
    dfplay = pd.merge(lgames, lhoras, on='item_id', how='inner')
    df_horas = dfplay.groupby('release_date')['playtime_forever'].sum().reset_index()
    df_horas_ordenado = df_horas.sort_values(by='playtime_forever', ascending=False)
    resultado=df_horas_ordenado.head(1)
    prin = "Año de lanzamiento con más horas jugadas para Género " + genero
    anio = int(resultado['release_date'].iloc[0])
    return {prin : anio}
  else:
    return {"El Genero indicado no se encuentra en la base de datos":genero}

In [9]:
PlayTimeGenre("2d")

{'Año de lanzamiento con más horas jugadas para Género 2D': 2011}

In [10]:
def UserForGenre(genero):
  genero=genero.upper()
  if genero in generos:
    dfgames = games[['item_id','release_date',genero]]
    dfgames = dfgames[games[genero]==1]
    dfuserg = pd.merge(dfgames,items,on='item_id',how='inner')
    uhoras = dfuserg.groupby('user_id')['playtime_forever'].sum().reset_index()
    uhoras = uhoras.sort_values(by='playtime_forever', ascending=False)
    uhoras = uhoras.head(1)
    uhoras = uhoras['user_id'].iloc[0]
    dfuserg = dfuserg[dfuserg['user_id']==uhoras]
    dfuserg = dfuserg.groupby('release_date')['playtime_forever'].sum().reset_index()
    dfuserg = dfuserg.sort_values(by='release_date', ascending=False)
    dfuserg = dfuserg[dfuserg['playtime_forever']>0]
    dfuserg = dfuserg.astype(int)
    dfuserg.rename(columns={'release_date': 'Año', 'playtime_forever':'Horas'}, inplace=True)
    di = dfuserg.apply(lambda row: row.to_dict(), axis=1).tolist()
    prin="Usuario con más horas jugadas para Género " + genero
    return {prin:uhoras,"Horas Jugadas":di}
  else:
    return {"El Genero indicado no se encuentra en la base de datos ":genero}

In [11]:
UserForGenre('AcTiOn')

{'Usuario con más horas jugadas para Género ACTION': 'Sp3ctre',
 'Horas Jugadas': [{'Año': 2017, 'Horas': 43327},
  {'Año': 2016, 'Horas': 30195},
  {'Año': 2015, 'Horas': 394314},
  {'Año': 2014, 'Horas': 132864},
  {'Año': 2013, 'Horas': 122158},
  {'Año': 2012, 'Horas': 384238},
  {'Año': 2011, 'Horas': 155459},
  {'Año': 2010, 'Horas': 82766},
  {'Año': 2009, 'Horas': 108771},
  {'Año': 2008, 'Horas': 8533},
  {'Año': 2007, 'Horas': 112794},
  {'Año': 2006, 'Horas': 90253},
  {'Año': 2005, 'Horas': 21339},
  {'Año': 2004, 'Horas': 127411},
  {'Año': 2003, 'Horas': 7744},
  {'Año': 2002, 'Horas': 238},
  {'Año': 2001, 'Horas': 250},
  {'Año': 2000, 'Horas': 70644},
  {'Año': 1999, 'Horas': 44},
  {'Año': 1997, 'Horas': 242},
  {'Año': 1995, 'Horas': 217}]}

In [12]:
def UsersRecommend(anio):
  if anio in lanio:
    dfa = reviews[(reviews['posted'] == anio) & (reviews['recommend'] == True) & (reviews['sentiment_analysis'] >0)].copy()
    dfa = dfa.groupby('item_id')['sentiment_analysis'].sum().reset_index()
    dfa = dfa.sort_values('sentiment_analysis', ascending=False)
    top_games = dfa.head(3)['item_id'].to_list()
    for i,g in enumerate(top_games):
      if g in iid:
        top_games[i]=items[items['item_id'] == top_games[i]].head(1)['item_name'].iloc[0]
      else:
        top_games[i]=ids[ids['item_id'] == top_games[i]].head(1)['item_name'].iloc[0]
    return{'Puesto 1':top_games[0],'Puesto 2':top_games[1],'Puesto 3':top_games[2]}
  else:
    return {f'El año indicado no se encuentra en la base de datos: ':anio}

In [13]:
UsersRecommend(2012)

{'Puesto 1': 'Counter-Strike: Global Offensive',
 'Puesto 2': 'Team Fortress 2',
 'Puesto 3': 'Borderlands 2'}

In [14]:
def UsersNotRecommend(anio):
  if anio in lanio:
    dfa = reviews[(reviews['posted'] == anio) & (reviews['recommend'] == False) & (reviews['sentiment_analysis'] ==0)].copy()
    dfa['sentiment_analysis']=1
    dfa = dfa.groupby('item_id')['sentiment_analysis'].sum().reset_index()
    dfa = dfa.sort_values('sentiment_analysis', ascending=False)
    top_games = dfa.head(3)['item_id'].to_list()
    for i,g in enumerate(top_games):
      if g in iid:
        top_games[i]=items[items['item_id'] == top_games[i]].head(1)['item_name'].iloc[0]
      else:
        top_games[i]=ids[ids['item_id'] == top_games[i]].head(1)['item_name'].iloc[0]
    if len(top_games)<2:
      return{'Puesto 1':top_games[0],'Puesto 2':'','Puesto 3':''}
    elif len(top_games)<3:
      return{'Puesto 1':top_games[0],'Puesto 2':top_games[1],'Puesto 3':''}
    else:
      return{'Puesto 1':top_games[0],'Puesto 2':top_games[1],'Puesto 3':top_games[2]}
  else:
    return {f'El año indicado no se encuentra en la base de datos: ':anio}

In [15]:
UsersNotRecommend(2012)

{'Puesto 1': 'Counter-Strike: Global Offensive',
 'Puesto 2': 'Ace of Spades',
 'Puesto 3': 'Chivalry: Medieval Warfare'}

In [16]:
def sentiment_analysis(anio):
  dfs = pd.merge(reviews[['item_id','sentiment_analysis']],games[['item_id','release_date']].drop_duplicates(),on='item_id',how='inner')
  dfs = dfs[dfs['release_date']==anio]
  dfs = dfs.groupby('sentiment_analysis').size().reset_index(name='count')
  dfs = dfs.sort_values('sentiment_analysis', ascending=True)
  dfs = dfs['count'].to_list()
  return{'Negative':dfs[0],'Neutral':dfs[1],'Positive':dfs[2]}

In [17]:
sentiment_analysis(2014)

{'Negative': 1040, 'Neutral': 1067, 'Positive': 4341}